*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    vertical-align: bottom;
    width: 100%;
}

.container {
    margin: auto;
    max-width: 1200px;
}

.content {
    margin: auto;
    padding: 60px;
    max-width: 100%;
}

.header,
.portfolio {
    margin: auto;
}

.header img {
    border-radius: 50%;
}

.big-head {
    margin: 0.6rem auto;
    max-width: 200px;
    max-height: 200px;
}
.big-head img:hover{
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) .3s;
    transform: scale(1.1);
}

.myself {
    text-align: center;
    padding: 20px;
}

.connection h2,
.portfolio h2,
.MyProject {
    text-align: center;
}

.MyProject {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pic-resp{
    border-radius: 15px;
}
.MyProject li {
    list-style: none;
    width: 32.33333%;
    margin: 0.3rem auto;
    position: relative;
}
.MyProject li:hover .overlay{
    opacity: 1;
    transition: ease-in-out 0.35s;
}

.overlay{
    opacity: 0;
    position: absolute;
    inset: 0;
    color: #fff;
    text-align: center;
    padding: 15px 30px;
    background: rgba(0,0,0,0.7);
    border-radius: 15px;
}
.popup_title{
    font-size: 1.5rem;
    line-height: 3rem;
}
.pop_desc{
    font-size: 1rem;
    line-height: 2rem;
}

.connection h2,
.portfolio h2 {
    font-size: 3rem;
}

.btn {
    margin: 15px;
    font-size: 20px;
    padding: 15px 45px;
    border: 0;
    outline: none;
    border-radius: 15px;
    cursor: pointer
}

.social i {
    font-size: 2rem;
    line-height: 4rem;
    margin: 0 1rem;
}

.connection input {
    width: 43%;
    padding: 15px;
    margin: 0.6rem auto;
    border: 2px solid gray;
    border-radius: 15px;
    font-size: 1rem;
}

.connection input:focus {
    border-style: unset;
}

.connection #message {
    width: 100%;
    height: 300px;
}

.connection .btn {
    display: block;
}

.connection form {
    text-align: center;
}

.social {
    text-align: right;
}

.fa-facebook {
    color: blue;
}

.fa-facebook:hover {
    color: rgb(97, 97, 255);
}

.fa-instagram {
    color: rgb(255, 99, 125);
}

.fa-instagram:hover {
    color: pink;
}

.fa-line {
    color: green;
}

.fa-line:hover {
    color: rgb(97, 144, 97);
}

@media screen and (max-width: 768px){
    .MyProject li {
        width: 100%;
        border: 2px solid gray;
        padding: 0.6rem;
        border-radius: 15px;
    }
    .connection input {
        width: 100%;
        font-size: 0.6rem;
    }
    .overlay{
        opacity: 1;
        position: static;
        background: none;
        color: black;
        text-align: left;
        padding: 0;
        margin: 0;
    }
    .MyProject li a{
        text-decoration: none;
    }
}
@media screen and (max-width: 513px){
    .social {
        text-align: left;
    }
}

